# Fichiers générés par l'IDE
.vscode/
.idea/

# Environnements virtuels
.venv/
venv/

# Fichiers sensibles
.env
*.secret
secrets.yaml

# Logs et fichiers temporaires
*.log
*.sqlite
__pycache__/
*.py[cod]
